*
{
	margin: 0px;
	padding: 0px;
}
body
{
	overflow: hidden;
}
#head
{
	text-align: center;
	font-family: aixin;
	font-size: 70px;
	margin-top: 30px;
	/* background-color: #00FFFF; */
}
body
{
	background-image: url(../img/indexbg.jpg);
	background-size: 100%;
	/* background-position: 100px 0px; */
}