*
{
	margin: 0px;
	padding: 0px;
}
body
{
	overflow: hidden;
	/* 减少流星流出 */
}
#head
{
	text-align: center;
	font-family: aixin;
	font-size: 80px;
	margin-top: 30px;
	background-image:-webkit-linear-gradient(top,#00ffff,#55ffff,#aaffff,#ccffff); 
	-webkit-background-clip:text; 
	-webkit-text-fill-color:transparent;
}
body
{
	background-image: url(../img/indexbg.jpg);
	background-size: 100%;
	/* background-position: 100px 0px; */
}
.mid
{
	width: 1200px;
	height: 400px;
	/* border: 2px solid #000000; */
	border-radius: 10px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.mid > a
{
	text-decoration: none;
}
.project
{
	width: 300px;
	height: 200px;
	background-color: #a5fff5;
	border-radius: 10px;
	color: #000000;
}
#gettime
{
	margin: 30px auto;
	width: 300px;
	height: 300px;
	/* border: 2px solid #000000; */
	border-radius: 10px;
}
#gettime p
{
	margin-top: 15px;
	text-align: center;
	font-family: qingwa;
	font-size: 35px;
	font-weight: 600;
}
/* 文本颜色渐变模板 */
#opo
{
	background-image:-webkit-linear-gradient(-90deg,#ff0004,#ff3978,#e76aff,#eda1ff);
	-webkit-background-clip:text; 
	-webkit-text-fill-color:transparent;
}
#tian
{
	background-image:-webkit-linear-gradient(-90deg,#00ffff,#55ffff,#aaffff,#ccffff);
	-webkit-background-clip:text; 
	-webkit-text-fill-color:transparent;
}
#shi
{
	background-image:-webkit-linear-gradient(bottom,#00ff00,#a8ff37,#4effb5,#9fff9d);
	-webkit-background-clip:text; 
	-webkit-text-fill-color:transparent;
}
#fen
{
	background-image:-webkit-linear-gradient(-90deg,#ffd500,#ff9f2a,#a8ff60,#fff1aa);
	-webkit-background-clip:text; 
	-webkit-text-fill-color:transparent;
}
#miao
{
	background-image:-webkit-linear-gradient(top,red,orange,yellow,green,blue,indigo,violet);
	-webkit-background-clip:text; 
	-webkit-text-fill-color:transparent;
}
