@font-face {
	font-family: aixin;
	src: url('../font/aixin.ttf');
}
@font-face {
	font-family: tong;
	src: url('../font/tong.ttf');
}
@font-face {
	font-family: qingwa;
	src: url('../font/qingwa.ttf');
}
@font-face {
	font-family: xx;
	src: url('../font/xx.ttf');
}
@font-face {
	font-family: en;
	src: url('../font/en.ttf');
}