.star1
{
	top: -116px;
	left: 1076px;
	animation-delay: 2.1s;
}
.star2
{
	top: -187px;
	left: 102px;
	animation-delay: 0.3s;
}
.star3
{
	top: -134px;
	left: 390px;
	animation-delay: 0.5s;
}
.star4
{
	top: -181px;
	left: -80px;
	animation-delay: 1.7s;
}
.star5
{
	top: -106px;
	left: 463px;
	animation-delay: 1.6s;
}
.star6
{
	top: -155px;
	left: -408px;
	animation-delay: 0.0s;
}
.star7
{
	top: -198px;
	left: 1099px;
	animation-delay: 4.0s;
}
.star8
{
	top: -106px;
	left: 1129px;
	animation-delay: 1.4s;
}
.star9
{
	top: -151px;
	left: 1294px;
	animation-delay: 2.7s;
}
.star10
{
	top: -149px;
	left: -195px;
	animation-delay: 0.0s;
}
.star11
{
	top: -152px;
	left: 1368px;
	animation-delay: 0.1s;
}
.star12
{
	top: -165px;
	left: 1244px;
	animation-delay: 5.0s;
}
.star13
{
	top: -170px;
	left: 1301px;
	animation-delay: 2.6s;
}
.star14
{
	top: -172px;
	left: 713px;
	animation-delay: 0.1s;
}
.star15
{
	top: -145px;
	left: 878px;
	animation-delay: 5.7s;
}
.star16
{
	top: -191px;
	left: 1386px;
	animation-delay: 3.0s;
}
.star17
{
	top: -178px;
	left: 1217px;
	animation-delay: 5.2s;
}
.star18
{
	top: -197px;
	left: 87px;
	animation-delay: 4.1s;
}
.star19
{
	top: -133px;
	left: 295px;
	animation-delay: 0.3s;
}
.star20
{
	top: -173px;
	left: 835px;
	animation-delay: 3.5s;
}
.star21
{
	top: -195px;
	left: -451px;
	animation-delay: 5.3s;
}
.star22
{
	top: -178px;
	left: -226px;
	animation-delay: 0.7s;
}
.star23
{
	top: -133px;
	left: 711px;
	animation-delay: 2.3s;
}
.star24
{
	top: -192px;
	left: 280px;
	animation-delay: 2.2s;
}
.star25
{
	top: -109px;
	left: 610px;
	animation-delay: 0.0s;
}
.star26
{
	top: -180px;
	left: 362px;
	animation-delay: 4.4s;
}
.star27
{
	top: -165px;
	left: 1205px;
	animation-delay: 0.7s;
}
.star28
{
	top: -181px;
	left: 1047px;
	animation-delay: 1.6s;
}
.star29
{
	top: -173px;
	left: -261px;
	animation-delay: 4.2s;
}
.star30
{
	top: -119px;
	left: 363px;
	animation-delay: 1.4s;
}
.star31
{
	top: -172px;
	left: 193px;
	animation-delay: 0.2s;
}
.star32
{
	top: -181px;
	left: 992px;
	animation-delay: 1.4s;
}
.star33
{
	top: -158px;
	left: 437px;
	animation-delay: 5.1s;
}
.star34
{
	top: -104px;
	left: 517px;
	animation-delay: 4.6s;
}
.star35
{
	top: -106px;
	left: 9px;
	animation-delay: 0.3s;
}
.star36
{
	top: -162px;
	left: -436px;
	animation-delay: 0.4s;
}
.star37
{
	top: -190px;
	left: 451px;
	animation-delay: 0.3s;
}
.star38
{
	top: -108px;
	left: -116px;
	animation-delay: 5.1s;
}
.star39
{
	top: -171px;
	left: 1059px;
	animation-delay: 2.8s;
}
.star40
{
	top: -121px;
	left: -162px;
	animation-delay: 5.9s;
}
.star41
{
	top: -120px;
	left: -27px;
	animation-delay: 4.0s;
}
.star42
{
	top: -147px;
	left: 22px;
	animation-delay: 4.5s;
}
.star43
{
	top: -153px;
	left: 593px;
	animation-delay: 1.0s;
}
.star44
{
	top: -184px;
	left: 1106px;
	animation-delay: 4.9s;
}
.star45
{
	top: -173px;
	left: 1247px;
	animation-delay: 0.2s;
}
.star46
{
	top: -191px;
	left: 992px;
	animation-delay: 2.6s;
}
.star47
{
	top: -119px;
	left: 954px;
	animation-delay: 2.4s;
}
.star48
{
	top: -142px;
	left: -394px;
	animation-delay: 0.1s;
}
.star49
{
	top: -187px;
	left: 703px;
	animation-delay: 3.9s;
}
.star50
{
	top: -113px;
	left: 786px;
	animation-delay: 1.4s;
}
.star51
{
	top: -145px;
	left: -369px;
	animation-delay: 3.5s;
}
.star52
{
	top: -160px;
	left: -359px;
	animation-delay: 1.1s;
}
.star53
{
	top: -175px;
	left: 1095px;
	animation-delay: 3.2s;
}
.star54
{
	top: -102px;
	left: 514px;
	animation-delay: 1.3s;
}
.star55
{
	top: -139px;
	left: 158px;
	animation-delay: 4.9s;
}
.star56
{
	top: -103px;
	left: 1366px;
	animation-delay: 4.2s;
}
.star57
{
	top: -162px;
	left: 749px;
	animation-delay: 4.9s;
}
.star58
{
	top: -190px;
	left: -251px;
	animation-delay: 3.3s;
}
.star59
{
	top: -132px;
	left: -467px;
	animation-delay: 4.9s;
}
.star60
{
	top: -127px;
	left: 681px;
	animation-delay: 1.5s;
}
.star61
{
	top: -157px;
	left: 195px;
	animation-delay: 2.9s;
}
.star62
{
	top: -137px;
	left: 1039px;
	animation-delay: 2.1s;
}
.star63
{
	top: -115px;
	left: 295px;
	animation-delay: 2.6s;
}
.star64
{
	top: -182px;
	left: 341px;
	animation-delay: 5.1s;
}
.star65
{
	top: -184px;
	left: 766px;
	animation-delay: 5.2s;
}
.star66
{
	top: -198px;
	left: 1341px;
	animation-delay: 5.0s;
}
.star67
{
	top: -192px;
	left: -449px;
	animation-delay: 3.8s;
}
.star68
{
	top: -133px;
	left: 1194px;
	animation-delay: 1.6s;
}
.star69
{
	top: -119px;
	left: 449px;
	animation-delay: 1.3s;
}
.star70
{
	top: -116px;
	left: 381px;
	animation-delay: 2.1s;
}
.star71
{
	top: -192px;
	left: 226px;
	animation-delay: 5.0s;
}
.star72
{
	top: -106px;
	left: 660px;
	animation-delay: 0.8s;
}
.star73
{
	top: -155px;
	left: 1334px;
	animation-delay: 1.0s;
}
.star74
{
	top: -135px;
	left: 226px;
	animation-delay: 0.0s;
}
.star75
{
	top: -179px;
	left: 1190px;
	animation-delay: 2.3s;
}
.star76
{
	top: -127px;
	left: 1148px;
	animation-delay: 3.9s;
}
.star77
{
	top: -128px;
	left: 1222px;
	animation-delay: 1.9s;
}
.star78
{
	top: -163px;
	left: 476px;
	animation-delay: 2.0s;
}
.star79
{
	top: -106px;
	left: 55px;
	animation-delay: 2.7s;
}
.star80
{
	top: -119px;
	left: -71px;
	animation-delay: 4.2s;
}
.star81
{
	top: -108px;
	left: 877px;
	animation-delay: 1.0s;
}
.star82
{
	top: -167px;
	left: 53px;
	animation-delay: 2.7s;
}
.star83
{
	top: -140px;
	left: 433px;
	animation-delay: 3.6s;
}
.star84
{
	top: -181px;
	left: 150px;
	animation-delay: 1.6s;
}
.star85
{
	top: -147px;
	left: -96px;
	animation-delay: 1.2s;
}
.star86
{
	top: -116px;
	left: 773px;
	animation-delay: 1.4s;
}
.star87
{
	top: -121px;
	left: -429px;
	animation-delay: 0.1s;
}
.star88
{
	top: -181px;
	left: 310px;
	animation-delay: 3.6s;
}
.star89
{
	top: -133px;
	left: 365px;
	animation-delay: 4.0s;
}
.star90
{
	top: -108px;
	left: 1064px;
	animation-delay: 0.5s;
}
.star91
{
	top: -171px;
	left: -85px;
	animation-delay: 0.7s;
}
.star92
{
	top: -133px;
	left: 525px;
	animation-delay: 0.4s;
}
.star93
{
	top: -179px;
	left: -281px;
	animation-delay: 5.4s;
}
.star94
{
	top: -108px;
	left: 1005px;
	animation-delay: 4.6s;
}
.star95
{
	top: -144px;
	left: 477px;
	animation-delay: 0.2s;
}
.star96
{
	top: -185px;
	left: 1281px;
	animation-delay: 0.5s;
}
.star97
{
	top: -129px;
	left: 811px;
	animation-delay: 0.7s;
}
.star98
{
	top: -153px;
	left: 926px;
	animation-delay: 3.5s;
}
.star99
{
	top: -185px;
	left: 768px;
	animation-delay: 4.8s;
}
